In [17]:
import pandas as pd
import numpy as np

In [18]:
#df=pd.DataFrame(data=np.random.rand(10,3),columns=['Feature1','Feature2','Feature3'])
#don't run it twice

In [19]:
df

   Feature1  Feature2  Feature3
0  0.882603  0.191026  0.021996
1  0.679203  0.867745  0.866258
2  0.712027  0.502142  0.165822
3  0.873412  0.187734  0.552652
4  0.847340  0.962426  0.660890
5  0.213306  0.572916  0.505553
6  0.491513  0.283469  0.369442
7  0.579188  0.669197  0.259585
8  0.245683  0.173058  0.094537
9  0.631961  0.381867  0.832041

In [20]:
#To split a column----we're splitting Feature1
df[df['Feature1']>0.3]['Feature1']

0    0.882603
1    0.679203
2    0.712027
3    0.873412
4    0.847340
6    0.491513
7    0.579188
9    0.631961
Name: Feature1, dtype: float64

In [21]:
#to return the index label
df[df['Feature1']>0.3].index

Index([0, 1, 2, 3, 4, 6, 7, 9], dtype='int64')

In [35]:
#to drop rows based on a certain condition
index_of_rows_to_drop=df[df['Feature1']>0.7].index

In [36]:
index_of_rows_to_drop

Index([0, 2, 3, 4], dtype='int64')

In [37]:
df.drop(index_of_rows_to_drop,axis=0)

   Feature1  Feature2  Feature3
1  0.679203  0.867745  0.866258
5  0.213306  0.572916  0.505553
6  0.491513  0.283469  0.369442
7  0.579188  0.669197  0.259585
8  0.245683  0.173058  0.094537
9  0.631961  0.381867  0.832041

In [38]:
df1=df
df1

   Feature1  Feature2  Feature3
0  0.882603  0.191026  0.021996
1  0.679203  0.867745  0.866258
2  0.712027  0.502142  0.165822
3  0.873412  0.187734  0.552652
4  0.847340  0.962426  0.660890
5  0.213306  0.572916  0.505553
6  0.491513  0.283469  0.369442
7  0.579188  0.669197  0.259585
8  0.245683  0.173058  0.094537
9  0.631961  0.381867  0.832041

In [41]:
df1=df1.set_index('Feature1')

In [42]:
df1

          Feature2  Feature3
Feature1
0.882603  0.191026  0.021996
0.679203  0.867745  0.866258
0.712027  0.502142  0.165822
0.873412  0.187734  0.552652
0.847340  0.962426  0.660890
0.213306  0.572916  0.505553
0.491513  0.283469  0.369442
0.579188  0.669197  0.259585
0.245683  0.173058  0.094537
0.631961  0.381867  0.832041

In [44]:
df1[df1['Feature2']>0.6].index

Index([0.6792034245670601, 0.8473400423178544, 0.5791876689624775], dtype='float64', name='Feature1')